/* This causes the text to move awfully slow */

p {
    animation-duration: 100s;
    animation-name: slidein;
    font-size: 2rem;
  }

  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* This causes the color flashing on the H1 */
  h1 {
    margin: 0 auto;
    text-align: center;
    color:#313131;
    font-size:45px;
    font-weight: bold;
    animation:colorchange 1s infinite alternate;
    
    
  }

  @keyframes colorchange {
    0% {
      
      color: red;
    }
    
    10% {
      
      color: green;
    }
    
    20% {
      
      color: greenyellow;
    }
    
    30% {
      
      color: yellow;
    }
    
    40% {
      
      color: lightgreen;
    }
    
    50% {
      
      color: red;
    }
    
    60% {
      
      color:green;
    }
    
    70% {
      
      color: yellowgreen;
    }
    80% {
   
      color: pink;
    }
    
    90% {
   
      color: rgb(156, 41, 185);
    }
    
    100% {
      
      color: red;
    }
  }

  /* This causes a div within words to spin */
  .spin{
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    padding: 100px
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

 
h2:hover {
    writing-mode: vertical-rl;
}

p:hover {
    writing-mode: vertical-rl;
}